body {
    background-color: #ebf6ff;
}

#footer {
    background: linear-gradient(transparent, #ebf6ff);
}

.mw-75 {
    max-width: 75%;
}

pre code {
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: auto;
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #ccc;
}