<!DOCTYPE html>
<html>
<head>
    <title>Talk with AI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="../static/image/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <nav class="p-2 bg-secondary mb-2">
        <div class="container" style="position: relative;">
                <img src="../static/image/favicon.png" width="24" class="header-img">
                <div class="header-text">Talk with AI</div>
        </div>
    </nav>
    <div class="container">
        <div id="structure" class="mb-5">
            <h3>Structure</h3>
            <img src="../static/image/structure.svg" class="rounded w-75 mx-auto d-block">
        </div>
        <div id="chatbox" class="mb-2">
            <h3>Let's talk!</h3>
            <button type="button" id="reset-button" class="btn btn-secondary rounded-pill mb-2" style="display: none;">
                <i class="bi bi-trash "></i>
                &ensp;Reset Conversation
            </button>
            <div id="messages"></div>
            <div id="user-input" class="input-group">
                <input type="text" id="user-input-text" class="form-control" placeholder="Say something...">
                <button type="button" id="record-submit-button" class="input-group-text btn btn-secondary bi bi-mic-fill"></button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="../static/js/index.js"></script>
</body>
</html>
